.docs__article {
  margin: 2rem auto;
  background-color: rgb(67, 70, 75);
  min-height: calc(100vh - 10rem);
  max-width: 55rem;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;

  font-size: 1.2rem;
  line-height: 1.8rem;
}
.docs__articleHeader {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}
.docs__articleText {
  padding-bottom: 0.5rem;
}
.docs__article ul {
  padding-left: 1rem;
  list-style-type: disc;
}
.docs__article code {
  background-color: rgb(36, 38, 39);
  margin-right: 0.5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.docs__externalLink {
  color: #44aec7;
}
.docs__externalLink:visited {
  color: #44aec7;
}

@media only screen and (max-width: 600px) {
  .docs__article {
    max-width: none;
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .docs__articleHeader {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 1rem;
  }
  .docs__articleText {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .docs__article ul {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
