.home__editorWrap {
  padding-left: var(--appPadding);
  padding-right: var(--appPadding);
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: calc(100vh - 6rem);
}

@media only screen and (max-width: 850px) {
  .home__editorWrap {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    height: inherit;
  }
}
