.App {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  z-index: 20;
}
.siteHeader {
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
}
.siteMain {
  width: 100%;
  padding: 2rem;
  max-height: 100vh;
  overflow-y: scroll;
}

@media only screen and (max-width: 850px) {
  .App {
    justify-content: start;
    flex-direction: column;
  }
  .siteMain {
    width: 100%;
    padding: 1rem;
    padding-top: 4.5rem;
    max-height: none;
  }
  .siteHeader {
    font-size: 1.6rem;
    padding-top: 1rem;
  }
}
